body{
background-color: aquamarine;
}
h1{
font-family:cursive;
}


.button {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 97px;
    -moz-border-radius: 97px;
    border-radius: 97px;
    height: 0px;
    line-height: 0px;
    color: #EBE8F0;
    font-family: Georgia;
    width: 2px;
    font-size: 17px;
    font-weight: 100;
    padding: 40px;
    padding-left: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #A666E2;
    -moz-box-shadow: 1px 1px 20px 0 #A666E2;
    box-shadow: 1px 1px 20px 0 #A666E2;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: left;
 }
 
 .button:hover {
    border: solid #AD33ED 1px;
    background: #D01E77;
    background-image: -webkit-linear-gradient(top, #D01E77, #3D94F6);
    background-image: -moz-linear-gradient(top, #D01E77, #3D94F6);
    background-image: -ms-linear-gradient(top, #D01E77, #3D94F6);
    background-image: -o-linear-gradient(top, #D01E77, #3D94F6);
    background-image: -webkit-gradient(to bottom, #D01E77, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

  